<section>
    <ul class="nav nav-pills">
        <li ng-class="{ active: storeTabCtrl.isSelected(1) }">
            <a href ng-click="storeTabCtrl.setTab(1)">Details</a></li>
        <li ng-class="{ active: storeTabCtrl.isSelected(2) }">
            <a href ng-click="storeTabCtrl.setTab(2)">Customers</a></li>
        <li ng-class="{ active: storeTabCtrl.isSelected(3) }">
            <a href ng-click="storeTabCtrl.setTab(3)">Reviews</a></li>
    </ul>
    <div class="tab" ng-show="storeTabCtrl.isSelected(1)">
        <h4>Details</h4>
        <store-detail></store-detail>
    </div>
    <div class="tab" ng-show="storeTabCtrl.isSelected(2)">
        <h4>Customers</h4>
        <p>TODO</p>
    </div>
    <div class="tab" ng-show="storeTabCtrl.isSelected(3)">
        <h4>Reviews</h4>
        <p>TODO</p>
    </div>
</section>
