<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/pizza-store</property>
        <property name="connection.username">root</property>
        <property name="connection.password">mysqlpwd1</property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <mapping class="com.alforsconsulting.pizzastore.customer.Customer"/>
        <mapping class="com.alforsconsulting.pizzastore.PizzaStore"/>
        <mapping class="com.alforsconsulting.pizzastore.menu.GenericMenuItem"/>
        <mapping class="com.alforsconsulting.pizzastore.menu.pizza.Pizza"/>
        <mapping class="com.alforsconsulting.pizzastore.menu.sides.Breadsticks"/>
        <mapping class="com.alforsconsulting.pizzastore.menu.detail.MenuItemDetail"/>
        <mapping class="com.alforsconsulting.pizzastore.order.Order"/>
        <mapping class="com.alforsconsulting.pizzastore.order.line.OrderLine"/>
        <mapping class="com.alforsconsulting.pizzastore.order.line.detail.OrderLineDetail"/>

    </session-factory>

</hibernate-configuration>